@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Report" asp-action="ReportCrime">
        <div class= "buttons">
            <input type="submit" value="Report Crime" class="btn btn-primary" />
        </div>
    </a>
</div>
